name: Draw Keymap (Corne Eyelash)

on:
  workflow_dispatch:
  push:
    paths:
      - "zmk/corne-eyelash/config/*.keymap"
      - "zmk/corne-eyelash/keymap_drawer.config.yaml"
      - ".github/workflows/zmk-draw-corne-eyelash.yaml"

permissions:
  contents: write

jobs:
  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    with:
      # === 删除了 root_path，因为官方脚本不支持 ===
      
      # 这里已经包含了完整的相对路径，Action 会找得到的
      keymap_patterns: "zmk/corne-eyelash/config/*.keymap"
      
      # 配置文件路径
      config_path: "zmk/corne-eyelash/keymap_drawer.config.yaml"
      
      # 输出路径
      output_folder: "zmk/corne-eyelash/keymap-drawer"
      
      # 提交信息
      commit_message: "[Draw] Update Corne Eyelash keymap SVG"
      destination: "commit"